In [2]:
p = "Hello USA"
q = 10
r = 10.2
print(type(p))
print(type(q))
print(type(r))
print(type(12+31j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [5]:
var = 13.2
print(var)
print(type (var))
var = "Now the type is string"
print(type(var))

13.2
<class 'float'>
<class 'str'>

In [6]:
print(type(bool(22)))
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>
<class 'bool'>

In [8]:
bool(False)
print(bool(False))

False

In [9]:
va1 = 0
print(bool(va1))
#Any number (integer, float, complex) having a value of zero is regarded as False, and a non-zero value is regarded as True.

False

In [10]:
va2 = 11
print(bool(va2))

True

In [11]:
va3 = -2.3
print(bool(va3))

True

In [12]:
#Sequence data types are used to store multiple values in a single variable in an organized and efficient way. 
#There are four basic sequence types: string, range, lists, and tuples.

In [15]:
#A string is an immutable sequence of characters represented in single, double, or triple quotes.
#Immutable means that once a data type has been assigned some value, it can’t be changed.
str1 = 'Hello how are you'
str2 = "Hello how are you"
str3 = """multiline
String"""#A triple quote string can span into multiple lines that include all the whitespace in the string.
print(str1)
print(str2)
print(str3)

Hello how are you
Hello how are you
multiline
String

In [16]:
f = 'data'
s = 'structure'
print(f + s)
print('Data ' + 'structure')

datastructure
Data structure

In [17]:
st = 'data.'
print(st * 3)
print(3 * st)

data.data.data.
data.data.data.

In [22]:
#The range data type represents an immutable sequence of numbers. It is mainly used in for and while loops.
print(list(range(10)))
print(range(10))
print(list(range(10)))
print(range(1,10,2))
print(list(range(1,10,2)))
print(list(range(20,10,-2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(1, 10, 2)
[1, 3, 5, 7, 9]
[20, 18, 16, 14, 12]

In [23]:
#Python lists are used to store multiple items in a single variable. 
#Duplicate values are allowed in a list, and elements can be of different types: 
#for example, you can have both numeric and string data in a Python list.
a = ['food', 'bus', 'apple', 'queen'] 
print(a)
mylist = [10, "India", "world", 8] # accessing elements in list. 
print(mylist[1])

['food', 'bus', 'apple', 'queen']
India

In [24]:
# Python program to check if an item (say second # item in the below example) of a list is present # in another list (or not) using 'in' operator 
mylist1 = [100,20,30,40]
mylist2 = [10,50,60,90]
if mylist1[1] in mylist2:
    print("elements are overlapping")
else:
    print("elements are not overlapping")

elements are not overlapping

In [26]:
#The ‘not in' operator returns to True if it does not find a variable in the specified sequence and False if it is found
val = 104
mylist = [100, 210, 430, 840, 108]
if val not in mylist:
    print("Value is NOT present in mylist")

Value is NOT present in mylist

In [27]:
Firstlist = []
Secondlist = []
if Firstlist == Secondlist:
    print("Both are equal")
else:
    print("Both are not equal")
    
if Firstlist is Secondlist:
    print("Both variables are pointing to the same object")
else:
    print("Both variables are not pointing to the same object")
    
thirdList = Firstlist
if thirdList is Secondlist:
    print("Both are pointing to the same object")
else:
    print("Both are not pointing to the same object")

Both are equal
Both variables are not pointing to the same object
Both are not pointing to the same object

In [28]:
Firstlist = []
Secondlist = []
if Firstlist is not Secondlist:
  print("Both Firstlist and Secondlist variables are the same object")
else:
  print("Both Firstlist and Secondlist variables are not the same object")

Both Firstlist and Secondlist variables are the same object

In [29]:
a = 32
b = 132
if a > 0 and b > 0:
  print("Both a and b are greater than zero")
else:
  print("At least one variable is less than 0")

Both a and b are greater than zero

In [33]:
a = 32
b = -32
if a > 0 or b > 0:
  print("At least one variable is greater than zero")
else:
  print("Both variables are less than 0")

At least one variable is greater than zero

In [34]:
a = 32
if not a:
  print("Boolean value of a is False")
else:
  print("Boolean value of a is True")

Boolean value of a is True

In [35]:
#Tuples are used to store multiple items in a single variable. 
#It is a read-only collection where data is ordered (zero-based indexing) and unchangeable/immutable 
#(items cannot be added, modified, removed). 
#Duplicate values are allowed in a tuple, and elements can be of different types, similar to lists. 
#Tuples are used instead of lists when we wish to store the data that should not be changed in the program.

my_tuple = ("Shyam", 23, True, "male")

In [40]:
#It stores the data in unordered {key-value} pairs; a key must be of a hashable and immutable data type, 
#and value can be any arbitrary Python object. In this context, an object is hashable if it has a hash value 
#that does not change during its lifetime in the program.
#Items in the dictionary are enclosed in curly braces, {}, separated by a comma, and can be created
#using the {key:value} syntax
#Keys in dictionaries are case-sensitive, they should be unique, and cannot be duplicated; 
#however, the values in the dictionary can be duplicated. For example, the following code can be used to create a dictionary:
my_dict = {'1': 'data',
           '2': 'structure',
           '3': 'python',
           '4': 'programming',
           '5': 'language'
}

In [41]:
#Creating a dictionary, and accessing elements from a dictionary
person = {}
print(type(person))
person['name'] = 'ABC'
person['lastname'] = 'XYZ'
person['age'] = 31
person['address'] = ['Jaipur']
print(person)
print(person['name'])

<class 'dict'>
{'name': 'ABC', 'lastname': 'XYZ', 'age': 31, 'address': ['Jaipur']}
ABC

In [42]:
print('name' in person)
print('fname' not in person)

True
True

In [43]:
print(len(person))

4

In [44]:
mydict = {'a': 1, 'b': 2,
'c': 3}
print(mydict)
mydict.clear()
print(mydict)

{'a': 1, 'b': 2, 'c': 3}
{}

In [45]:
mydict = {'a': 1, 'b': 2,
'c': 3}
print(mydict.get('b'))
print(mydict)
print(mydict.get('z'))

2
{'a': 1, 'b': 2, 'c': 3}
None

In [49]:
print(list(mydict.items()))
print(list(mydict.keys()))
print(list(mydict.values()))
print(mydict.pop('b'))
print(mydict)

[('a', 1), ('b', 2), ('c', 3)]
['a', 'b', 'c']
[1, 2, 3]
2
{'a': 1, 'c': 3}

In [50]:
#mydict.popitem()removes the last key-value pair added in the dictionary and returns it as a tuple.
mydict = {'a': 1,'b': 2,'c':
3}
print(mydict.popitem())
print(mydict)

('c', 3)
{'a': 1, 'b': 2}

In [52]:
#mydict.update(<obj>) Merges one dictionary with another. 
#Firstly, it checks whether a key of the second dictionary is present in
#the first dictionary; the corresponding value is then updated. 
#If the key is not present in the first dictionary, then the key-value pair is added.
d1 = {'a': 10, 'b': 20, 'c':
30}
d2 = {'b': 200, 'd': 400}
print(d1.update(d2))
print(d1)

None
{'a': 10, 'b': 200, 'c': 30, 'd': 400}

In [53]:
#A set is an unordered collection of hashable objects. It is iterable, mutable, and has unique elements. 
#The order of the elements is also not defined. While the addition and removal of items are allowed, 
#the items themselves within the set must be immutable and hashable. 
#Sets support membership testing operators (in, not in), and operations such as intersection, union, difference, and symmetric difference. 
#Sets cannot contain duplicate items. They are created by using the built-in set() function or curly braces {}. 
#A set() returns a set object from an iterable. 
x1 = set(['and', 'python', 'data', 'structure'])
print(x1)
print(type(x1))
x2 = {'and', 'python', 'data', 'structure'}
print(x2)

{'structure', 'python', 'data', 'and'}
<class 'set'>
{'structure', 'python', 'data', 'and'}

In [56]:
x2 = {'and', 'python', 'data', 'structure'}
print(x2)
#sets are unordered data structures, and the order of items in sets is not preserved.

{'structure', 'python', 'data', 'and'}

In [57]:
x3 = {'and', 'python', 'data', 'structure'}
print(x3)
#sets are unordered data structures, and the order of items in sets is not preserved.

{'structure', 'python', 'data', 'and'}

In [58]:
x = {'data', 'structure', 'and', 'python'}
print(len(x))
print('structure' in x)

4
True

In [60]:
#Union of two sets, x1 and x2. It can be done using two methods, 
#(1) using the | operator, (2) using the union method.
x1 = {'data', 'structure'}
x2 = {'python', 'java', 'c', 'data'}
x3 = x1 | x2
print(x3)
print(x1.union(x2))

{'c', 'structure', 'python', 'data', 'java'}
{'c', 'structure', 'python', 'data', 'java'}

In [62]:
#Intersection of sets: to compute the intersection of two sets, 
#an & operator and the intersection() method can be used, which returns a set of items common to both sets, x1 and x2.
print(x1.intersection(x2))
print(x1 & x2)

{'data'}
{'data'}

In [64]:
#returns a set of all elements that are in x1, but not in x2.
print(x1.difference(x2))
print(x1 - x2)

{'structure'}
{'structure'}

In [66]:
#Symmetric difference can be obtained using .symmetric_difference() , 
#while ^ returns a set of all data items that are present in either x1 or x2, but not both.
print(x1.symmetric_difference(x2))
print(x1 ^ x2)

{'structure', 'python', 'c', 'java'}
{'structure', 'python', 'c', 'java'}

In [68]:
#To test whether a set is a subset of another, use .issubset() and the operator <=.
print(x1.issubset(x2))
print(x1 <= x2)

False
False

In [69]:
x = frozenset(['data', 'structure', 'and', 'python'])
print(x)

frozenset({'python', 'structure', 'data', 'and'})

In [70]:
a11 = set(['data'])
a21 = set(['structure'])
a31 = set(['python'])
x1 = {a11, a21, a31}

TypeError: unhashable type: 'set'

In [72]:
a1 = frozenset(['data'])
a2 = frozenset(['structure'])
a3 = frozenset(['python'])
x = {a1, a2, a3}
print(x)
#frozensets are immutable.

{frozenset({'structure'}), frozenset({'data'}), frozenset({'python'})}